html {
    background-color: #333;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
    overflow-y: scroll;
}

#photo-viewer {
    padding: 1% 10%;
    z-index: 0;
}

#photo-viewer-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
}

#photo-viewer-background-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 101;
}

#enlarged-photo {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    border: solid 0.7em white;
    z-index: 103;
}

#enlarged-photo-img {
    display: block;
    max-height: 90%;
}

#enlarged-photo-caption {
    text-align: center;
    background-color: white;
    padding-top: 1%;
    width: 100%;
}

#photo-viewer img {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: solid 0.5em white;
    margin: 1%;
    z-index: 50;
    vertical-align: middle;
}

#photo-viewer.row-5 img {
    max-width: 18%;
}

#photo-viewer.row-4 img {
    max-width: 23%;
}

#photo-viewer.row-3 img {
    max-width: 31%;
}

#photo-viewer.row-2 img {
    max-width: 48%;
}

#photo-viewer.row-1 img {
    max-width: 98%;
}

.skewed-left {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.skewed-right {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}