<h2>Test list</h2>

<table>
    <tr>
        <th>Request</th>
        <th>Expected result</th>
        <th></th>
        <th></th>
    </tr>
    <tr data-ng-repeat="test in tests.doc">
        <td>{{test.request}}</td>
        <td>{{shortenString(test.expectedResult, 80)}}</td>
        <td><a href="/#/tests/{{test._id}}">details</a></td>
        <td><a href="/#/tests/{{test._id}}/perform">perform test</a></td>
    </tr>
</table>
<button type="button" data-ng-click="newTest()">New</button>
