<h2>Test detail</h2>

<form id="test-form" name="testForm">
    <p>Request:
        <select data-ng-model="test.request" required="required">
            <option value="">Select a request</option>
            <option data-ng-repeat="request in requests.doc" value="{{request._id}}">{{request.url}}:{{request.port}}{{request.path}} ({{request.method}})</option>
        </select>
    </p>

    <p>Expected result: <textarea data-ng-model="test.expectedResult"></textarea></p>
    
    <button type="button" data-ng-click="delete()">Delete</button>

    <input type="button" data-ng-click="save()" value="Save" />
</form>