<h2>Scenario list</h2>

<table>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    <tr data-ng-repeat="scenario in scenarios.doc">
        <td>{{scenario.name}}</td>
        <td><a href="/#/scenarios/{{scenario._id}}">details</a></td>
        <td><a href="/#/scenarios/{{scenario._id}}/perform">perform scenario</a></td>
    </tr>
</table>
<button type="button" data-ng-click="newScenario()">New</button>
