<h2>Add a scenario</h2>

<form id="scenario-form" name="scenarioForm">
    <p>Name:<input type="text" data-ng-model="scenario.name" /></p>

    <p>Test:
        <select data-ng-model="scenarioTest" required="required">
            <option value="">Select a test</option>
            <option data-ng-repeat="test in tests.doc" value="{{test._id}}">{{test._id}}</option>
        </select>
    </p>

    <input type="submit" data-ng-click="save()" value="Save" />
</form>