<h2>Scenario detail</h2>

<form id="scenario-form" name="scenarioForm">
    <p>Name:<input type="text" data-ng-model="scenario.name" /></p>

    <p data-ng-repeat="scenarioTest in scenario.tests">Test:
        <select data-ng-model="scenarioTest" required="required">
            <option value="">Select a test</option>
            <option data-ng-repeat="test in tests.doc" value="{{test._id}}">{{test._id}}</option>
        </select>
    </p>
    
    <button type="button" data-ng-click="delete()">Delete</button>

    <input type="button" data-ng-click="save()" value="Save" />
</form>