<h2>User list</h2>

<div class="authorized">
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    <tr data-ng-repeat="user in users.doc">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><a href="/#/users/{{user._id}}" >details</a></td>
    </tr>
</table>

<button type="button" data-ng-click="newUser()">New</button>
</div>
<div class="unauthorized">
    <h2>You are not authorized to view the users.</h2>
    <h3>Please log in</h3>
</div>