<h2>Add an user</h2>

<form id="user-form" name="testForm">
    <p>Name: <input type="text" data-ng-model="user.name" /></p>
    <p>Email: <input type="email" data-ng-model="user.email" required="required" /></p>
    <p>Password: <input type="password" data-ng-model="user.password" required="required" /></p>

    <input type="submit" data-ng-click="save()" value="Save" />
</form>