<h2>User detail</h2>

<form id="user-form" name="userForm">
    <p>Name: <input type="text" data-ng-model="user.name" /></p>
    <p>Email: <input type="email" data-ng-model="user.email" required="required" /></p>
    <p>Password: <input type="password" data-ng-model="user.password" required="required" /></p>
    
    <button type="button" data-ng-click="delete()">Delete</button>

    <input type="button" data-ng-click="save()" value="Save" />
</form>