<h2>Add a request</h2>

<form id="request-form" name="requestForm">
    <p>Method: <select data-ng-model="request.doc.method" required="required">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
        <option value="DELETE">DELETE</option>
    </select></p>
    
    <p>URL: <input type="text" data-ng-model="request.doc.url" required="required" /></p>

    <p>Port: <input type="text" data-ng-model="request.doc.port" /></p>

    <p>Path: <input type="text" data-ng-model="request.doc.path" /></p>

    <p>Send data: <textarea data-ng-model="request.doc.sendData"></textarea></p>

    <input type="submit" data-ng-click="save()" value="Save" />
</form>