<h2>Request list</h2>

<table>
    <tr>
        <th>Url</th>
        <th>Port</th>
        <th>Path</th>
        <th>Method</th>
        <th></th>
        <th></th>
    </tr>
    <tr data-ng-repeat="request in requests.doc">
        <td>{{request.url}}</td>
        <td>{{request.port}}</td>
        <td>{{shortenString(request.path, 80)}}</td>
        <td>{{request.method}}</td>
        <td><a href="/#/requests/{{request._id}}">details</a></td>
        <td><a href="/#/requests/{{request._id}}/perform">perform request</a></td>
    </tr>
</table>
<button type="button" data-ng-click="newRequest()">New</button>
