body {
    font-family: sans-serif;
}

div.clear {
    clear: both;
}

div.main-menu-button {
    float: left;
    padding: 5px 15px;
    margin: 0 5px;
    background: #A40000;
    color: white;
}

div.main-menu-button:hover {
    background: #CA0000;
}

div#login-menu {
    position: relative;
    float: right;
}

div#login-menu .loggedin {
    display: none;
}

div#current-user {
    float: left;
    padding: 5px 15px;
    margin: 0 5px;
}

div.login-menu-button {
    float: left;
    padding: 5px 15px;
    margin: 0 5px;
    background: #0000A4;
    color: white;
    cursor: pointer;
}

div.login-menu-button:hover {
    background: #0000CA;
}

div#login-popup {
    display: none;
    position: absolute;
    right: 5px;
    top: 28px;
    background: #0000A4;
    color: white;
    padding: 15px;
}

div#register-popup {
    display: none;
    position: absolute;
    right: 5px;
    top: 28px;
    background: #0000A4;
    color: white;
    padding: 15px;
}

textarea#request-result,
textarea#test-result,
textarea#scenario-result {
    width: 100%;
    height: 500px;
}

form#request-form p,
form#test-form p,
form#scenario-form p {
    vertical-align: top;
}

form#request-form input,
form#request-form select,
form#test-form input,
form#test-form select,
form#scenario-form input,
form#scenario-form select {
    width: 300px;
}

form#request-form textarea,
form#test-form textarea,
form#scenario-form textarea {
    width: 400px;
    height: 300px;
}

div.authorized {
    display: none;
}