* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

h1 {
    font-family: 'Crafty Girls', cursive;
}

html {
    
}

body {
    background-color: green;
    color: yellow;
    border-top: solid 0.75em #8BFF60;
    border-left: solid 0.75em #8BFF60;
    border-right: solid 0.75em #8BFF60;
    margin: 0;
    overflow: auto;
}

header {
    border-bottom: solid 0.75em #8BFF60;
    color: #8BFF60;
    margin: 0;
    text-align: center;
}

figure, section {
    position: relative;
    padding: 0.5em;
    height: 410px;
    text-align: center;
    border: solid 0.2em #005500;
    float: left;
    margin: 0;
}

figure:nth-child(n+2), section:nth-child(n+2) {
    border-left: none;
    border-top: none;
}

figure {
    width: 27.6em;
}

figure img {
    width: 90%;
    border: solid 1em yellow;
}

figure img:hover {
    border-color: red;
}

figcaption {
    padding-top: 1em;
    text-align: left;
}

@media (max-width: 57.85em) {
    body, header {
        border-width: 0.5em;
    }

    h1 {
        font-size: 1.5em;
    }

    figure, section {
        height: auto;
        min-height: 400px;
        font-size: 0.8em;
        border-width: 0.4em;
        width: 100%;
        border-right: none;
    }

    figure img {
        border-width: 0.3em;
    }
}

@media (min-width: 57.85em) {
    figure, section {
        font-size: 1em;
    }

    section {
        width: 55.2em;
    }
}

table {
    background-color: white;
    color: green;
    width: 20em;
    margin: 1em auto 0;
}

table th {
    font-style: italic;
}

table td {
    border: solid 1px green;
    text-align: center;
}

table tr td:first-child {
    color: black;
}

footer {
    clear: both;
}