body {
    font-family: sans-serif;
}

#stock-quotes table {
    width: 100%;
}

#stock-quotes table canvas {

}

#stock-quotes table tr.up {
    background-color: #00FF00;
}

#stock-quotes table tr.down {
    background-color: #FF0D0D;
}

#stock-quotes table tr.same {
    background-color: #C3C3C3;
}

#stock-quotes table td,
#stock-quotes table th {
    padding: 5px;
    text-align: left;
}