<div id="login-directive">
    <div id="login-menu">
        <div class="loggedout">
            <div class="login-menu-button" id="login-button" data-ng-click="clickLogin()">
                Log in
            </div>
            <div class="login-menu-button" id="register-button" data-ng-click="clickRegister()">
                Register
            </div>
        </div>
        <div class="loggedin">
            <div id="current-user">
                Logged in as: {{currentUser.name}}
            </div>
            <div class="login-menu-button" id="logout-button" data-ng-click="logout()">
                Log out
            </div>
        </div>
    </div>

    <div id="login-popup">
        <form>
            <label for="login-email">Email</label><br />
            <input id="login-email" type="email" data-ng-model="loginData.email" required="required" /><br />
            <label for="login-password">Password</label><br />
            <input id="login-password" type="password" name="login[password]" data-ng-model="loginData.password" required="required" /><br />
            <input type="submit" value="Log in" data-ng-click="login(loginData)" />
        </form>
    </div>

    <div id="register-popup">
        <form>
            <label for="register-name">Name</label><br />
            <input id="register-name" type="text" data-ng-model="registerData.name" /><br />
            <label for="register-email">Email</label><br />
            <input id="register-email" type="email" data-ng-model="registerData.email" required="required" /><br />
            <label for="register-password">Password</label><br />
            <input id="register-password" type="password" data-ng-model="registerData.password" required="required" /><br />
            <label for="register-password-repeat">Repeat Password</label><br />
            <input id="register-password-repeat" type="password" data-ng-model="registerData.passwordRepeat" required="required" /><br />
            <input type="submit" value="Register" data-ng-click="register(registerData)" />
        </form>
    </div>
</div>